*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  background-color: lightcyan;
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#start-div {
  display: flex;
  height: 20rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  aspect-ratio: 1/1;
}

#start-div form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.2rem;
}

button#start-btn {
  background-color: #fff;
  border: solid #000 1px;
  font-size: 1.2rem;
  padding: 5px;
  width: 100px;
}

form input {
  margin-top: 3px;
  padding: 3px;
  font-size: 1rem;
  border: solid #000 1px;
}

form label {
  font-weight: bold;
}

#grid {
  position: relative;
  display: none;
  grid-template: repeat(3, 99px) / repeat(3, 99px);
  align-items: stretch;
  background-color: lightseagreen;
  gap: 2px;
  z-index: 1;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: lightcyan;
}

#overlay {
  background-color: rgba(224, 255, 255, 0.671);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#overlay button {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

#results {
  margin-top: 20px;
  width: 300px;
}

#score {
  font-size: 1.2rem;
}
