*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  text-align: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#start-div {
  display: flex;
  height: 20rem;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  aspect-ratio: 1/1;
}

#grid {
  position: relative;
  display: none;
  background-color: lightblue;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  align-items: stretch;
  background-color: black;
  gap: 2px;
  z-index: 1;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: white;
}

#overlay {
  background-color: rgba(255, 255, 255, 0.623);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#overlay button {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: transparent;
  border: none;
}

#results {
  margin-top: 20px;
  width: 200px;
}
