*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 1rem;
  background-color: #e0ffff;
  text-align: center;
  height: 100vh;
}

h1 {
  color: #20b2aa;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

#grid {
  position: relative;
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  align-items: stretch;
  background-color: #20b2aa;
  gap: 3px;
  z-index: 1;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #e0ffff;
}

.grid-cell svg {
  width: 40px;
}

svg#x {
  width: 50px;
}

.grid-cell:hover {
  background-color: rgba(224, 255, 255, 0.849);
}

#players {
  display: flex;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

form#player-form {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

#player-form input:read-only {
  pointer-events: none;
}

#player-form input:read-only::placeholder {
  color: #000;
}

#player-form input {
  font-size: 1rem;
  width: 100px;
  padding: 5px;
}

#player-form input:focus,
#player-form input:hover {
  outline: none;
  border: 2px solid #c40093;
}

#player-form input,
div.score {
  background-color: #fff;
  height: 2rem;
  border: 2px solid #20b2aa;
  border-radius: 5px;
}

div.player-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.score {
  width: 50px;
}

.btn {
  width: 110px;
  padding: 8px 6px;
  font-size: 1.2rem;
  background-color: #20b2aa;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(168, 212, 212, 0.822);
}

.btn:hover {
  background-color: #14968f;
}

.btn:active {
  background-color: #fff;
  color: #20b2aa;
}

div#results {
  color: #c40093;
  font-size: 1.2rem;
  font-weight: bold;
}

#overlay {
  background-color: rgba(224, 255, 255, 0.671);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#results {
  margin-top: 20px;
  width: 300px;
}

.score {
  font-size: 1.2rem;
}

#error {
  color: #c40093;
  height: 1.2rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
